@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">How to use the Music Lesson Application</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div>
    <p>How to create Students</p>
    <p>Step 1: Use the top navigation and select Students to add students.</p>
    <p>Step 2: You will be taken to the Students page to create and fill in the student's information.</p>
    <p>Step 3: Click create and fill out the students's information, once done, click create on the bottom left. The student information will be displayed.</p>
    <br>
    <p>How to create a Lesson</p>
    <p>Step 1: Press the Lesson tab on the top navigation. You will be taken to the create Lesson page.</p>
    <p>Step 2: Click create and fill out the Lessons the students will attend. Once done, click create button and the Lesson for that particular student is created.</p>
    <br>
    <p>How to send letter</p>
    <p>Step 1: Once a Lesson has been created, press the Letter link displayed on the right hand side of lesson list.</p>
    <p>Step 2: You will be taken to the Letter create page.</p>
    <p>Step 3: Fill out the Letter information and click create. Letter is created for that particular Student.</p>
    <p>Step 4: Press Invoice on the right hand side to display the Letter format or Delete to delete the invoice.</p>
    <p>Step 5: To send the email, just press send and the invoiced will be sent accodring to the students contact email.</p>
    <p></p>
</div>