@model MusicApp.Models.Letters

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Letters</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="StudentsId" class="control-label"></label>
                <select asp-for="StudentsId" class="form-control" asp-items="ViewBag.StudentsId"></select>
                <span asp-validation-for="StudentsId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LessonTYId" class="control-label"></label>
                <select asp-for="LessonTYId" class="form-control" asp-items="ViewBag.LessonTYId"></select>
                <span asp-validation-for="LessonTYId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LessonDTId" class="control-label"></label>
                <select asp-for="LessonDTId" class="form-control" asp-items="ViewBag.LessonDTId"></select>
                <span asp-validation-for="LessonDTId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Semester" class="control-label"></label>
                <select asp-for="Semester" class="form-control" asp-items="ViewBag.Semester"></select>
                <span asp-validation-for="Semester" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BankId" class="control-label"></label>
                <input asp-for="BankId" class="form-control" />
                <span asp-validation-for="BankId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AccName" class="control-label"></label>
                <input asp-for="AccName" class="form-control" />
                <span asp-validation-for="AccName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BSBNo" class="control-label"></label>
                <input asp-for="BSBNo" class="form-control" />
                <span asp-validation-for="BSBNo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AccNo" class="control-label"></label>
                <input asp-for="AccNo" class="form-control" />
                <span asp-validation-for="AccNo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cost" class="control-label"></label>
                <input asp-for="Cost" class="form-control" />
                <span asp-validation-for="Cost" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Paid" /> @Html.DisplayNameFor(model => model.Paid)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="Signature" class="control-label"></label>
                <input asp-for="Signature" class="form-control" />
                <span asp-validation-for="Signature" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
