@model MusicApp.Models.Lessons

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Lessons</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="StudentsId" class="control-label"></label>
                <select asp-for="StudentsId" class ="form-control" asp-items="ViewBag.StudentsId"></select>
            </div>
            <div class="form-group">
                <label asp-for="InstrumentsId" class="control-label"></label>
                <select asp-for="InstrumentsId" class ="form-control" asp-items="ViewBag.InstrumentsId"></select>
            </div>
            <div class="form-group">
                <label asp-for="TutorsId" class="control-label"></label>
                <select asp-for="TutorsId" class ="form-control" asp-items="ViewBag.TutorsId"></select>
            </div>
            <div class="form-group">
                <label asp-for="LessonTYId" class="control-label"></label>
                <select asp-for="LessonTYId" class ="form-control" asp-items="ViewBag.LessonTYId"></select>
            </div>
            <div class="form-group">
                <label asp-for="LessonDTId" class="control-label"></label>
                <select asp-for="LessonDTId" class ="form-control" asp-items="ViewBag.LessonDTId"></select>
            </div>
            <div class="form-group">
                <label asp-for="DurationsId" class="control-label"></label>
                <select asp-for="DurationsId" class ="form-control" asp-items="ViewBag.DurationsId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
